@model IEnumerable<AGDAR.Models.OrderHistory>

@{
    ViewData["Title"] = "Index";
}

<h3>Historia zamówień</h3>

<table class="admin-table">
    <thead>
        <tr>
            <th>
                Identyfikator Klienta
            </th>
            <th>
                Imię klienta
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data złożenia zamówienia
            </th>
            <th>
                Identyfikator Zamówienia
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
        </tr>
}
    </tbody>
</table>
