@model IEnumerable<AGDAR.Models.Product>
@using AGDAR.Models.Status;
@inject IHttpContextAccessor context;
@inject ProductType productType;
@{
    ViewData["Title"] = "All";
    string clientId = @context.HttpContext.Session.GetString("ClientId");
    string lientOrderId = @context.HttpContext.Session.GetString("ClientOrderId");
    int Id = 0;
    int orderId = 0;
    if (@context.HttpContext.Session.GetString("ClientId") != null)
    {
        Id = Int32.Parse(clientId);
        orderId = Int32.Parse(lientOrderId);
    }
}
@if (@context.HttpContext.Session.GetString("WorkerId") != null)
{    
    <h3>Wszystkie narzędzia</h3>

    <button class="service-btns" onclick="BackFilters()">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
            <path d="M3.9 22.9C10.5 8.9 24.5 0 40 0H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L396.4 195.6C316.2 212.1 256 283 256 368c0 27.4 6.3 53.4 17.5 76.5c-1.6-.8-3.2-1.8-4.7-2.9l-64-48c-8.1-6-12.8-15.5-12.8-25.6V288.9L9 65.3C-.7 53.4-2.8 36.8 3.9 22.9zM432 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm59.3 107.3c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L432 345.4l-36.7-36.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L409.4 368l-36.7 36.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0L432 390.6l36.7 36.7c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6L454.6 368l36.7-36.7z" />
        </svg>
        Usuń filtry
    </button>

    <button class="service-btns" onclick="ShowAll()">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <path d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
        </svg>
        Pokaż narzędzia w sklepu
    </button>

    <button class="service-btns" onclick="ShowCustom()">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
        </svg>
        Pokaż customowe narzędzia
    </button>
    <br />
    <br />
    <div id="all-products">
        <p>
            <a class="createnew-btn" asp-action="Create">Stwórz narzędzie </a>
        </p>
        <table class="admin-table">
            <thead>
                <tr>
                    <th style="width:7%">
                        Zdjęcie
                    </th>
                    <th style="width:10%">
                        Nazwa
                    </th>
                    <th style="width:10%">
                        Cena
                    </th>
                    <th style="width:48%">
                        Opis
                    </th>
                    <th style="width:10%">
                        Marka
                    </th>
                    <th style="width:15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                
                        @if (item.Brand != "Custom")
                        {
                        <tr>
                            <td>
                                <img src="https://localhost:7167/@Html.DisplayFor(modelItem => item.Img)" alt="Product Image" width="50" height="50" />
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Price) zł
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                <a asp-action="Edit" class="edit-btn" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
                                    </svg>
                                    Edytuj
                                </a>
                                <a class="details-btn" asp-action="Details" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                    </svg>
                                    Szczegóły
                                </a>
                                <a asp-action="Delete" class="delete-btn" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                    Usuń
                                </a>
                            </td>
                        </tr>
                        }             
                }
            </tbody>
        </table>
    </div>
    <br /><br /><br />

    <div id="custom-products">
        <table class="admin-table">
            <thead>
                <tr>
                    <th style="width:15%">
                        Nazwa
                    </th>
                    <th style="width:10%">
                        Cena
                    </th>
                    <th style="width:30%">
                        Opis
                    </th>
                    <th style="width:10%">
                        Marka
                    </th>
                    <th style="width:10%">
                        Typ narzędzia
                    </th>
                    <th style="width:10%">
                        Identyfikator klienta
                    </th>
                    <th style="width:15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    @if (item.Brand == "Custom")
                    {
                        <tr>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Price) zł
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td class="service-table-cells-overflow">
                                @ProductType.GetType(item.Type)
                            </td>
                            <td class="service-table-cells-overflow">
                                @Html.DisplayFor(modelItem => item.ClientId)
                            </td>
                            <td>
                                @*<a asp-action="Valuation" class="edit-btn" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                        <path d="M312 24V34.5c6.4 1.2 12.6 2.7 18.2 4.2c12.8 3.4 20.4 16.6 17 29.4s-16.6 20.4-29.4 17c-10.9-2.9-21.1-4.9-30.2-5c-7.3-.1-14.7 1.7-19.4 4.4c-2.1 1.3-3.1 2.4-3.5 3c-.3 .5-.7 1.2-.7 2.8c0 .3 0 .5 0 .6c.2 .2 .9 1.2 3.3 2.6c5.8 3.5 14.4 6.2 27.4 10.1l.9 .3c11.1 3.3 25.9 7.8 37.9 15.3c13.7 8.6 26.1 22.9 26.4 44.9c.3 22.5-11.4 38.9-26.7 48.5c-6.7 4.1-13.9 7-21.3 8.8V232c0 13.3-10.7 24-24 24s-24-10.7-24-24V220.6c-9.5-2.3-18.2-5.3-25.6-7.8c-2.1-.7-4.1-1.4-6-2c-12.6-4.2-19.4-17.8-15.2-30.4s17.8-19.4 30.4-15.2c2.6 .9 5 1.7 7.3 2.5c13.6 4.6 23.4 7.9 33.9 8.3c8 .3 15.1-1.6 19.2-4.1c1.9-1.2 2.8-2.2 3.2-2.9c.4-.6 .9-1.8 .8-4.1l0-.2c0-1 0-2.1-4-4.6c-5.7-3.6-14.3-6.4-27.1-10.3l-1.9-.6c-10.8-3.2-25-7.5-36.4-14.4c-13.5-8.1-26.5-22-26.6-44.1c-.1-22.9 12.9-38.6 27.7-47.4c6.4-3.8 13.3-6.4 20.2-8.2V24c0-13.3 10.7-24 24-24s24 10.7 24 24zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z" />
                                    </svg>
                                    Wyceń
                                </a>*@
                                <a class="details-btn" asp-action="CustomDetails" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                    </svg>
                                    Szczegóły
                                </a>
                                <a asp-action="Delete" class="delete-btn" style="justify-content: center;" asp-route-id="@item.Id">
                                    <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                    Usuń
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
@if (@context.HttpContext.Session.GetString("ClientId") != null)
{
    <h3>Twoje narzędzia</h3>

    <div id="custom-products">
        <table class="admin-table">
            <thead>
                <tr>
                    <th style="width:15%">
                        Nazwa
                    </th>
                    <th style="width:10%">
                        Cena
                    </th>
                    <th style="width:30%">
                        Opis
                    </th>
                    <th style="width:10%">
                        Marka
                    </th>
                    <th style="width:10%">
                        Typ narzędzia
                    </th>
                    <th style="width:15%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {                                                       
                    @if (item.Brand == "Custom")
                    {
                        @if (Id == (int)item.ClientId)
                        {
                            <tr>
                                <td class="service-table-cells-overflow">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="service-table-cells-overflow">
                                    @Html.DisplayFor(modelItem => item.Price) zł
                                </td>
                                <td class="service-table-cells-overflow">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="service-table-cells-overflow">
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td class="service-table-cells-overflow">
                                    @ProductType.GetType(item.Type)
                                </td>
                                <td>
                                    <div style="display:grid">
                                        <button class="details-btn" style="justify-content: center;" onclick="addToCart(@item.Id, @orderId)">
                                            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z" />
                                            </svg>
                                            Dodaj do zamówienia
                                        </button>
                                    </div>
                                    <a class="details-btn" asp-action="CustomDetails" style="justify-content: center;" asp-route-id="@item.Id">
                                        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                        </svg>
                                        Szczegóły
                                    </a>
                                    <a asp-action="Delete" class="delete-btn" style="justify-content: center;" asp-route-id="@item.Id">
                                        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                        </svg>
                                        Usuń
                                    </a>
                                </td>
                            </tr>
                        }
                    }                  
                }
            </tbody>
        </table>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function BackFilters() {
        $('#all-products').show();
        $('#custom-products').show();

    }
    function ShowCustom() {
        $('#all-products').hide();
        $('#custom-products').show();
    }
    function ShowAll() {
        $('#custom-products').hide();
        $('#all-products').show();
    }
    
    function addToCart(productId, orderId) {
        // Pobierz ID zamówienia klienta z sesji


        $.ajax({
            url: '/Products/AddToCart',
            type: 'GET',
            data: { productId: productId, orderId: orderId },
            success: function (response) {
            },
        });
    }
</script>