@model AGDAR.Models.DTO.ProductDto
@using AGDAR.Models.Status;
@inject ProductType productType;
@{
    ViewData["Title"] = "Delete";
}

<h3>Usuń produtk</h3>
<hr/>
<div class="row justify-content-center">
    <div class="login-container h-auto" style="display: grid;align-content: space-between;">
    @if(Model.Brand == "Custom")
    {
        <div class="d-flex">
            <div class="service-details-label">
                Nazwa:
            </div>
            <div class="service-details-value ps-2">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div><br />     
        <div>
            <div class="service-details-label">
                Opis: 
            </div>
            <div class="service-details-value" style="overflow-wrap: break-word;">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div><br />
        <div class="d-flex">
                <div class="service-details-label">
                Typ narzędzia:
            </div>
            <div class="service-details-value ps-2">
                @ProductType.GetType((int)ViewData["Typ"])
            </div>
        </div>
        <div class="d-flex">
            <div class="service-details-label">
                Cena:
            </div>
            
            <div class="service-details-value ps-2">
                @Html.DisplayFor(model => model.Price) zł
            </div>
        </div>
    }
    else
    {
        <div class="w-100 h-100" style="text-align-last: center;">
            <img src="@Html.DisplayFor(model => model.Img)"/>
        </div>
          <div class="d-flex">
            <div class="service-details-label">
                Nazwa:
            </div>
            <div class="service-details-value ps-2">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div><br />     
        <div>
            <div class="service-details-label">
                Opis: 
            </div>
            <div class="service-details-value" style="overflow-wrap: break-word;">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div><br />
        <div class="d-flex">
            <div class="service-details-label">
                Cena:
            </div>
            
            <div class="service-details-value ps-2">
                @Html.DisplayFor(model => model.Price) zł
            </div>
        </div> 
    }
    <form asp-action="Delete" class="d-flex justify-content-between">
        <input type="hidden" asp-for="Id" />
        <a class="create-btns" asp-action="All">Powrót</a>
        <input type="submit" value="Usuń" class="create-btns float-end" style="border:none"/>
    </form>
    </div>
</div>
