@model AGDAR.Models.DTO.ProductDto

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="d-flex" style="min-height:330px;">
        <div class="product-details-box">
            <div>
                <img src=" https://localhost:7167/@Html.DisplayFor(model => model.Img)" alt="Product Image" width="300" height="300" />
            </div>
            <div style="padding:10px;">
                <div class="produckt-title">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div>
                    Producent:  @Html.DisplayFor(model => model.Brand)
                </div><br /><br />
                <div>
                    Kategorie:<br />
                    @foreach (var category in Model.Categories)
                    {
                        @category.Name
                    }
                </div>
            </div>
        </div>
        <div class="product-details-price-box">
            <div class="product-price">
                @Html.DisplayFor(model => model.Price) zł
            </div>
            @if (Model.Price > 99)
            {
                <div class="free-delivery-details-box">
                    Dostawa GRATIS
                </div>
            }
            <div>
                Zamówienia po godzine 14 pakowane oraz wysyłane są nastepnego dnia roboczego
            </div>
        </div>
    </div>
    <div class="description-product-details-box">
        OPIS<br />
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

