@model IEnumerable<AGDAR.Models.DTO.ProductDto>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Index"; 
}

<h1>Produkty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.Img)" alt="Product Image" width="350" height="350"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if(@context.HttpContext.Session.GetString("WorkerId") != null)
{
<div>
    <h1>Worker id: @context.HttpContext.Session.GetString("WorkerId")</h1>
    <h2>Worker emial: @context.HttpContext.Session.GetString("WorkerEmail")</h2>
</div>
}
@if(@context.HttpContext.Session.GetString("ClientId") != null)
{
<div>
    <h1>Client id: @context.HttpContext.Session.GetString("ClientId")</h1>
    <h2>Client emial: @context.HttpContext.Session.GetString("ClientEmail")</h2>
</div>
}
