@model IEnumerable<AGDAR.Models.DTO.ProductDto>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Index"; 
}

<h1>Produkty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<main class="d-flex">
    <div class="w-25 filters-product-box" style="line-break: anywhere; height:400px">Tu będą filtry</div>
    <div class="w-75 products-boxes" style="line-break: anywhere;">
        @foreach (var item in Model)
        {
            <div class="d-flex product-box">
                <div>
                    <img src="@Url.Content(item.Img)" alt="Product Image" width="200" height="200" />
                </div>
                <div style="margin-inline-end: auto; padding-left:20px; padding-right:20px; line-break: anywhere;width:50%;overflow:hidden ">
                    <div class="produckt-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="product-descryption">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
                <div style="padding-right:20px; overflow:hidden">
                    <div class="product-price">
                        @Html.DisplayFor(modelItem => item.Price) zł
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.StateId)
                    </div>
                    <div style="display: inline-grid; justify-items: center;">
                        <div style="margin:5px">
                            <a asp-action="Edit" class="edit-btn" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div style="margin:5px">
                            <a asp-action="Details" class="details-btn" asp-route-id="@item.Id">Details</a>
                        </div>
                        <div style="margin:5px">
                            <a asp-action="Delete" class="delete-btn" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
     </div>
</main>
@if(@context.HttpContext.Session.GetString("WorkerId") != null)
{
<div>
    <h1>Worker id: @context.HttpContext.Session.GetString("WorkerId")</h1>
    <h2>Worker emial: @context.HttpContext.Session.GetString("WorkerEmail")</h2>
</div>
}
@if(@context.HttpContext.Session.GetString("ClientId") != null)
{
<div>
    <h1>Client id: @context.HttpContext.Session.GetString("ClientId")</h1>
    <h2>Client emial: @context.HttpContext.Session.GetString("ClientEmail")</h2>
</div>
}

