@model IEnumerable<AGDAR.Models.DTO.ProductDto>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor context;

@{
    ViewData["Title"] = "Index";
    var orderId = @context.HttpContext.Session.GetString("ClientOrderId");

}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<h1>Produkty</h1>
<main class="d-flex">
    <div class="w-25 filters-product-box" style="line-break: anywhere; height:400px; margin-top:20px;">
        <p class="produckt-title">KATEGORIE</p>
        @foreach (var category in (List<Category>)ViewData["Kategoria"])
        {
            <div id="filter-button-@category.Name" class="filters-element fw-bold" onclick="showProducts('@category.Name')"> @category.Name</div>
        }
        <br />
        <p class="produckt-title">CENY</p>
        <div id="biggest-price" class="filters-element" onclick="sortByHighestPrice()">Od najwyższej</div>
        <div id="lowest-price" class="filters-element" onclick="sortByLowestPrice()">Od najniższej</div>
    </div>
    <div class="w-75 products-boxes" style="line-break: anywhere;">
        @foreach (var item in Model)
        {
            @if (item.Brand != "Custom")
            {
                <div class="sort-products @String.Join(" ", item.Categories.Select(c => c.Name))">
                    <div class="d-flex product-box @String.Join(" ", item.Categories.Select(c => c.Name))">
                        <div>
                            <img src="@Url.Content(item.Img)" alt="Product Image" width="200" height="200" />
                        </div>
                        <div style="margin-inline-end: auto; padding-left:20px; padding-right:20px; line-break: anywhere;width:50%;overflow:hidden ">
                            <div class="produckt-title">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="product-descryption">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                        </div>
                        <div style="padding-right:20px; display: grid; align-content: space-between;">
                            <div>
                                <div class="product-price">
                                    @Html.DisplayFor(modelItem => item.Price) zł
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Categories)
                                </div>
                            </div>
                            @if (@context.HttpContext.Session.GetString("ClientId") != null)
                            {
                                <div style="display:grid">
                                    <button class="add-to-cart-button" onclick="addToCart(@item.Id, @orderId)">
                                        <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                            <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z" />
                                        </svg>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div style="display:grid">
                                    <button class="add-to-cart-button">
                                        <a class="nav-link text-dark nav-items-style" asp-area="" asp-controller="Account" asp-action="LoginClient">
                                            <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z" />
                                            </svg>
                                        </a>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                }
        }
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addToCart(productId, orderId) {
        // Pobierz ID zamówienia klienta z sesji


        $.ajax({
            url: '/Products/AddToCart',
            type: 'GET',
            data: { productId: productId, orderId: orderId },
            success: function (response) {               
            },
        });
    }


    var batteryElements = document.querySelectorAll(".Battery");
    console.log($(".Battery"));

    function showProducts(category) {
        $("." + category).toggleClass("d-none");
        $("#filter-button-" + category).toggleClass("fw-bold");
    }

    function sortByHighestPrice() {
        var productElements = document.querySelectorAll(".sort-products");
        var sortedProductElements = Array.from(productElements);

        sortedProductElements.sort(function (a, b) {
            var cenaA = parseFloat(a.querySelector(".product-price").textContent);
            var cenaB = parseFloat(b.querySelector(".product-price").textContent);
            return cenaB - cenaA;
        });
        productElements.forEach(function (element) {
            element.remove();
        });
        var productsBox = document.querySelector(".products-boxes");
        sortedProductElements.forEach(function (element) {
            productsBox.appendChild(element);
        });
        if ($("#lowest-price").hasClass("fw-bold") == 1) {
            $("#lowest-price").toggleClass("fw-bold");
        }
        $("#biggest-price").toggleClass("fw-bold");
    }

    function sortByLowestPrice() {
        var productElements = document.querySelectorAll(".sort-products");
        var sortedProductElements = Array.from(productElements);

        sortedProductElements.sort(function (a, b) {
            var cenaA = parseFloat(a.querySelector(".product-price").textContent);
            var cenaB = parseFloat(b.querySelector(".product-price").textContent);
            return cenaA - cenaB;
        });
        productElements.forEach(function (element) {
            element.remove();
        });
        var productsBox = document.querySelector(".products-boxes");
        sortedProductElements.forEach(function (element) {
            productsBox.appendChild(element);
        });
        if ($("#biggest-price").hasClass("fw-bold") == 1) {
            $("#biggest-price").toggleClass("fw-bold");
        }
        $("#lowest-price").toggleClass("fw-bold");
    }

</script>