@model AGDAR.Models.DTO.ClientDto
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Delete";
}

@if (@context.HttpContext.Session.GetString("ClientId") != null)
{
    <h3>Usuń konto</h3>   
}
@if (@context.HttpContext.Session.GetString("WorkerId") != null)
{
    <h3>Usuń konto użytkownika</h3>   
}
<hr />
<div class="row justify-content-center">
    <div class="login-container" style="display: grid;align-content: space-between;">
        <div>
            <div class="d-flex">
                <div style="font-weight:700">
                    Imie:
                </div>
                <div class="ps-3">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="d-flex">
                <div style="font-weight:700">
                    Nazwisko:
                </div>
                <div class="ps-3">
                    @Html.DisplayFor(model => model.SeckondName)
                </div>
            </div>
            <div class="d-flex">
                <div style="font-weight:700">
                    Email:
                </div>
                <div class="ps-3">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="d-flex">
                <div style="font-weight:700">
                    Data urodzenia:
                </div>
                <div class="ps-3">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </div>
            </div>
            @if (@context.HttpContext.Session.GetString("WorkerId") != null)
            {
            <div class="d-flex">
                <div style="font-weight:700">
                    Identyfikator zamówienia
                </div>
                <div class="ps-3">
                    @Html.DisplayFor(model => model.OrderdId)
                </div>
            </div>
            }
        </div>
        <form asp-action="Delete" class="d-flex justify-content-between">
            <input type="hidden" asp-for="Id" />       
            @if (@context.HttpContext.Session.GetString("WorkerId") != null)
            {
                <a class="create-btns" asp-action="Index">Powrót</a>
            }
            @if (@context.HttpContext.Session.GetString("ClientId") != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Id" class="create-btns mt-2">Powrót</a> 
            }
            <input type="submit" value="Usuń" class="create-btns float-end" style="border:none"/> 
        </form>
        
    </div>
</div>

