@model AGDAR.Models.DTO.OrderDto
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Details"; 
    var orderId = @Html.DisplayFor(model => model.Id);
    int numerator = 0;
}
@if (@context.HttpContext.Session.GetString("ClientId") != null)
{
    <h3>Twoje zakupy</h3>
}
@if (@context.HttpContext.Session.GetString("WorkerId") != null)
{
    <h3>Zamówienie</h3>
}

<div>
    <hr />
    <dl class="row">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    Kwota:
                </div>
                <div class="product-price ps-5"> 
                    @Html.DisplayFor(model => model.Price) zł
                </div>
            </div>
             @if (@context.HttpContext.Session.GetString("ClientId") != null)
            {
                <a class="back-to-product-list-btn" asp-controller="Products" asp-action="Index">
                    <svg class="btn-icon" style="margin-inline:auto" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/>
                    </svg>
                    Wróć do zakupów
                </a>
                <a class="back-to-product-list-btn" asp-controller="Order" asp-action="CompleteOrder" asp-route-id="@Model.Id">
                    <svg class="btn-icon" style="margin-inline:auto" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">)
                    <path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/>
                </svg>
                Złóż zamówienie
            </a>
            }
        </div>
        <dt>
            Zawartość koszyka:
        </dt>
        <dd class="d-flex flex-wrap">
                @foreach (var product in Model.Products)
                {
                    <div class="cart-item-container w-50" data-product-id="@numerator">
                        <div class="d-flex">
                            <div class="d-inline">
                                <img src="https://localhost:7167/@product.Img" alt="Product Image" width="200" height="200" />
                                <div class="product-btns-@numerator">
                                    <div class="w-100">
                                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="details-btn justify-content-center">
                                            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                                <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                            </svg>
                                            Details
                                        </a>
                                    </div>
                                    @if (@context.HttpContext.Session.GetString("ClientId") != null)
                                    {
                                        <div class="w-100">
                                            <button class="delete-btn justify-content-center" onclick="RemoveFromCart(@product.Id,@orderId,@numerator)">
                                                <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                                </svg>
                                                Delete
                                            </button>
                                        </div>
                                    }
                                </div>                                  
                            </div>
                            <div class="ps-5">
                                <div class="produckt-title">
                                    @product.Name 
                                </div><br/>
                                <div class="product-price"> zł
                                    @product.Price
                                </div>
                            </div>                      
                        </div>
                    </div>
                    <br />                   
                    numerator++;
              
                }
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    
</div>
<script>

    function RemoveFromCart(productId, orderId, numerator) {
        // Pobierz ID zamówienia klienta z sesji
        $.ajax({
            url: '/Products/RemoveFromCart',
            type: 'GET',
            data: { productId: productId, orderId: orderId },
            success: function (response) {
            },
        });
        $("[data-product-id='" + numerator + "']").remove();
    }

</script>
